<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:leaf="https://github.com/mountain-giant"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       https://github.com/mountain-giant
       https://github.com/mountain-giant/leaf.xsd">

    <leaf:consumer id="consumer">
        <leaf:property timeout="3000"/>
        <leaf:property registryServer="127.0.0.1:9876"/>
    </leaf:consumer>

    <leaf:reference id="helloService" consumer="consumer" interfaceClass="com.leaf.example.spring.HelloService" timeout="3000"/>

</beans>